---
import Title from "@/components/global/Title.astro";
---

<section class="section">
	<div class="col-span-full col-start-1 sm:col-span-2 sm:col-start-2">
		<Title title="Servicios" subtitle="Muy pronto" class="pt-44" />
		<p class="text-center pt-8 font-medium">Aqui una posible lista y descripción de los servicios que ofrece evolution perú.</p>
	</div>
</section>
