---
import LinkBlend from "@components/global/LinkBlend.astro";
import { getLangFromUrl, useTranslations, useTranslatedPath } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<section id="hero" class="section dark-section hero min-h-screen">
	<div class="mx-auto flex h-full flex-col">
		<div class="relative flex flex-1 flex-col justify-center gap-8 rounded-lg py-10 pb-28 md:gap-20 md:pb-10 lg:rounded-2xl">
			<div class="flex justify-center">
				<h1 class="sr-only">EVOLUTION</h1>
				<!--?xml version="1.0" encoding="utf-8"?-->
				<!-- Generator: Adobe Illustrator 27.7.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
				<svg
				version="1.1"
				
				viewBox="0 0 700 200"
				class="title-svg w-[min(90rem,90vw)]"
				xmlns="http://www.w3.org/2000/svg">
				
				<path d="M640.621 3.15198L641.214 4.04944L678.121 59.9342V3.15198H700.041V96.6237H679.046L678.453 95.7281L641.545 39.9576V96.6237H619.625V3.15198H640.621Z" stroke="white" stroke-width="4" fill="none" class="logo-path-mask"/>
  				<path d="M562.597 2C571.365 2.00003 579.386 4.0399 586.616 8.14355L587.296 8.5332C594.28 12.6013 599.812 18.1831 603.87 25.252L604.266 25.9346C608.295 33.0099 610.293 40.9468 610.293 49.6963C610.293 58.8098 608.166 67.0574 603.875 74.3867L603.875 74.3857C599.684 81.6055 593.922 87.2775 586.616 91.376C579.307 95.4762 571.287 97.5195 562.597 97.5195C553.907 97.5195 545.888 95.4762 538.579 91.376C531.274 87.2783 525.472 81.6096 521.197 74.3955L521.191 74.3867C516.901 67.0574 514.773 58.8098 514.773 49.6963C514.773 40.6644 516.903 32.4982 521.197 25.252C525.47 17.956 531.271 12.2429 538.579 8.14355C545.888 4.04341 553.907 2 562.597 2ZM562.597 22.1279C557.535 22.1279 553.111 23.2482 549.269 25.4395L548.577 25.8604C545.163 28.0211 542.452 31.0452 540.443 34.9883L540.44 34.9951L540.436 35.002C538.306 39.1041 537.205 43.9818 537.205 49.6963C537.205 55.4096 538.305 60.3365 540.443 64.5322C542.583 68.7325 545.523 71.9373 549.266 74.2061C553.108 76.3986 557.533 77.5195 562.597 77.5195C567.667 77.5195 572.046 76.3961 575.797 74.208C579.542 71.9392 582.482 68.7334 584.623 64.5322C586.76 60.3365 587.861 55.4096 587.861 49.6963C587.861 43.9819 586.76 39.1041 584.63 35.002L584.623 34.9883C582.48 30.7823 579.538 27.6217 575.797 25.4395C572.046 23.2514 567.667 22.128 562.597 22.1279Z" stroke="white" stroke-width="4" fill="none" class="logo-path-mask"/>
  				<path d="M505.42 3.28V96.6237H483.5V3.28H505.42Z" stroke="white" stroke-width="4" fill="none" class="logo-path-mask"/>
  				<path d="M474.425 3.28V21.7439H450.617V96.6237H428.697V21.7439H404.889V3.28H474.425Z" stroke="white" stroke-width="4" fill="none" class="logo-path-mask"/>
  				<path d="M342.039 3.28V60.5759C342.039 66.2898 343.521 70.369 346.201 73.1257C348.885 75.8029 352.752 77.2643 358.087 77.2644C363.512 77.2644 367.415 75.8 370.094 73.1325C372.778 70.3757 374.263 66.2947 374.263 60.5759V3.28H396.311V60.448C396.311 68.3345 394.58 75.162 391.015 80.8327L391.016 80.8337C387.574 86.3604 382.891 90.5421 377.006 93.3513L377.007 93.3523C371.245 96.1432 364.84 97.5202 357.831 97.5202C350.903 97.5202 344.542 96.1416 338.783 93.3523L338.772 93.3464C333.048 90.5298 328.497 86.339 325.145 80.8132L325.141 80.8073L325.138 80.8005C321.757 75.1354 320.119 68.3198 320.119 60.448V3.28H342.039Z" stroke="white" stroke-width="4" fill="none" class="logo-path-mask"/>
  				<path d="M283.545 3.28V78.4157H312.985V96.6237H261.625V3.28H283.545Z" stroke="white" stroke-width="4" fill="none" class="logo-path-mask"/>
  				<path d="M57.8398 3.15198V21.7438H23.9199V40.1442H54V58.3522H23.9199V78.0319H57.8398V96.6237H2V3.15198H57.8398Z" stroke="white" stroke-width="4" fill="none" class="logo-path-mask"/>
  				<path d="M204.597 2C213.365 2.00003 221.386 4.0399 228.616 8.14355L229.296 8.5332C236.28 12.6013 241.812 18.183 245.87 25.252L246.266 25.9346C250.295 33.0099 252.293 40.9468 252.293 49.6963C252.292 58.8098 250.165 67.0574 245.875 74.3867C241.684 81.6062 235.921 87.2776 228.616 91.376C221.307 95.4762 213.287 97.5195 204.597 97.5195C195.907 97.5195 187.888 95.4762 180.579 91.376C173.274 87.2783 167.472 81.6096 163.197 74.3955L163.191 74.3867C158.901 67.0574 156.773 58.8098 156.773 49.6963C156.773 40.6644 158.903 32.4982 163.197 25.252C167.47 17.956 173.271 12.2429 180.579 8.14355C187.888 4.04341 195.907 2 204.597 2ZM204.597 22.1279C199.535 22.1279 195.111 23.2482 191.269 25.4395L190.577 25.8604C187.163 28.0211 184.452 31.0452 182.443 34.9883L182.44 34.9951L182.436 35.002C180.306 39.1041 179.205 43.9818 179.205 49.6963C179.205 55.4096 180.305 60.3365 182.443 64.5322C184.583 68.7325 187.523 71.9373 191.266 74.2061C195.108 76.3986 199.533 77.5195 204.597 77.5195C209.667 77.5195 214.046 76.396 217.797 74.208C221.542 71.9391 224.482 68.7334 226.623 64.5322C228.76 60.3365 229.861 55.4096 229.861 49.6963C229.861 43.9819 228.76 39.1041 226.63 35.002L226.623 34.9883C224.48 30.7823 221.538 27.6217 217.797 25.4395C214.046 23.2514 209.667 22.128 204.597 22.1279Z" stroke="white" stroke-width="4" fill="none" class="logo-path-mask"/>
  				<path d="M85.709 3.28L86.1748 4.6257L108.855 70.1882L131.418 4.62961L131.882 3.28H155.245L154.259 5.96848L121.49 95.3122L121.01 96.6237H96.4561L95.9756 95.3122L63.2071 5.96848L62.2207 3.28H85.709Z" stroke="white" stroke-width="4" fill="none" class="logo-path-mask"/>


				</svg>




			</div>
			<div class="flex flex-col items-center gap-5 text-center lg:gap-10">
				<div class="flex flex-col items-center justify-center gap-3 lg:col-start-1">
					<small>
						( <span class="scroll-text">
							<LinkBlend class="text-xs lg:text-lg" id="go-projects-button" isButton={true}>{t("hero.scroll")}</LinkBlend>
						</span> )
					</small>
				</div>
			</div>
		</div>
	</div>
</section>

<style>
	.hero {
		padding-bottom: 0;
		position: relative;
		border-radius: inherit;
		overflow: hidden;
	}
	.hero > div {
		grid-column: 1 / span 4;
	}

	#hero .title-svg {
		opacity: 0;
	}

	/* Hero appearance */
	.hero h1,
	.hero h2,
	.hero h3 {
		margin: 0;
	}
	.hero h1 {
		margin: 0;
		position: relative;
		overflow: hidden;
	}
	.hero h1 > div {
		position: relative;
		margin: 0;
	}
</style>

<script>
	import { gsap } from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";
	import { SplitText } from "gsap/SplitText";
	import { ScrollToPlugin } from "gsap/ScrollToPlugin";
	import { DrawSVGPlugin } from "gsap/DrawSVGPlugin";

	gsap.registerPlugin(ScrollTrigger, SplitText, ScrollToPlugin, DrawSVGPlugin);

	function init() {
		var goProjectsButton = document.getElementById("go-projects-button");
		goProjectsButton?.addEventListener("click", function () {
			gsap.to(window, { duration: 0.5, scrollTo: "#majestico-motto" });
		});

		gsap.set("#hero .title-svg", { opacity: 1 });

		gsap.timeline({
			defaults: {
				duration: 1,
				ease: "power2.out",
				stagger: 0.1,
			},
		}).from("#hero .title-svg .logo-path-mask", { drawSVG: 0 });

		// https://codepen.io/zank/pen/PoLLOXB?editors=0010
		// Show scroll title from the middle
		let split = new SplitText("#hero .scroll-text", { type: "chars" });
		gsap.timeline({
			defaults: {
				duration: 0.3,
			},
		}).from(split.chars, {
			opacity: 0,
			stagger: {
				from: "center", //try "center" and "edges"
				each: 0.05,
			},
		});
	}

	document.removeEventListener("DOMContentLoaded", init); // astro:page-load
	document.addEventListener("DOMContentLoaded", init); // astro:page-load
</script>
